@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
  margin-bottom: 20px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  outline-color: #10a37f;
  margin-bottom: 8px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  margin-top: 8px;
  margin-left: 20px; /* Left margin */
  margin-right: 20px; /* Right margin */
  width: calc(100% - 200px); /* Adjust the width */
  height: 200px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  padding: 12px 16px;
  overflow: auto;
  white-space: pre-line;
}

.main .mailButton {
  padding: 12px 0;
  color: #0b0303;
  background-color: #fcd638;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 12px 16px;
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 2px; /* Added margin */
}

.main .clearButton {
  padding: 12px 0;
  color: #fff;
  background-color: #ff5f5f; /* Specific color */
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 12px 16px;
  margin-top: 4px;
}

.main .buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px; /* To spread buttons apart */
}

.main input[type="submit"]:hover {
  background-color: #08875a; /* Even darker shade of green */
  border-color: #08875a; /* Same as background color */
  transition: all 0.3s ease; /* Smooth transition effect */
}

.main .mailButton:hover { 
  background-color: #fabe2c;
  transition: all 0.3s ease; /* Smooth transition effect */
}

.main .clearButton:hover {
  background-color: #e54b4b; /* Even darker shade of green */
  transition: all 0.3s ease; /* Smooth transition effect */
}

.buttonRowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 4px;
}
.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.buttonRow .mailButton {
  background-color: #3f9db0;
  color: white;
}

.buttonRow .mailButton:hover {
  background-color: #368a98; /* Slightly darkened color for hover state */
}

.buttonRow .mailButton {
  width: 156px; /* or whatever width you want */
  height: 25px;
  text-align: center;
  padding: 0;
  /* or whatever height you want */
  /* other styles as needed */
}

